.changePasswordCont {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    padding: 20px;
   
   
   
    background-color: #e8e8ea;
}

.changePasswordCont h3 {
    text-align: center;
    margin-bottom: 20px;
}

.changePasswordCont .form-group {
    margin-bottom: 15px;
    margin: auto;
    width: 35%;
}

.changePasswordCont .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.changePasswordCont .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.changePasswordCont .btn:hover {
    background-color: #0056b3;
}
.passwordFieldWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.passwordToggleIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
}

.passwordToggleIcon:hover {
    color: #333;
}

.form-control {
    width: 100%;
    padding-right: 30px; /* Ensure there's space for the eye icon */
}
@media screen and (max-width: 768px) {
    .changePasswordCont .form-group {
        
        width: 90%;
    }
    
    
}