/* Styling for the Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-link {
    font-size: 1rem;
}
